<div class="container">
    <nav>
      <ul class="nav">
       <li><a href="privacy.html">Privacy</a><li>
       <li><a href="terms.html">Terms</a></li>
       <li><%= link_to 'FAQ', about_path %></li>
     </ul>
    </nav>
    <p>Copyright &copy; 2014 Medusa</p>
</div><!-- .container -->
