
<h2>FAQ</h2>
<hr>

<div id="accordion" class="panel-group">

  <h2>Payment</h2>

  <div class="panel panel-default">
    <em><h4><a href="#collapse1" data-parent="#accordion" data-toggle="collapse">What credit cards do you accept?</a></h4></em>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>We accept all major credit cards plus paypal</p>
      </div><!-- .panel-body -->
    </div><!-- .panel-collapse -->
  </div><!-- .panel -->

  <div class="panel panel-default">
    <em><h4><a href="#collapse2" data-parent="#accordion" data-toggle="collapse">Is there the option of a refund?</a></h4></em>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>No. We are running a small online business with a few unique pieces, therefore all sales are final.</p>
      </div><!-- .panel-body -->
    </div><!-- .panel-collapse -->
  </div><!-- .panel -->

  <hr>

  <h2>Delivery</h2>

  <div class="panel panel-default">
    <em><h4><a href="#collapse3" data-parent="#accordion" data-toggle="collapse">Where do you ship to?</a></h4></em>
    <div id="collapse3" class="panel-collapse collapse">
       <div class="panel-body">
        <p>Since we are only in the first stages, we are only shipping to Germany. However we are hoping to expand to EU soon!</p>
      </div><!-- .panel-body -->
    </div><!-- .panel-collapse -->
  </div><!-- .panel -->

  <div class="panel panel-default">
    <em><h4><a href="#collapse4" data-parent="#accordion" data-toggle="collapse">When will my order arrive?</a></h4></em>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>All orders are sent the day after receiving your payment. You should expect it 3-5 working days after placing it. </p>
       </div><!-- .panel-body -->
    </div><!-- .panel-collapse -->
  </div><!-- .panel -->


</div><!-- #accordion -->

<hr>




