<div class="container">
    <h2>Contact</h2>
    <hr>
			<div class="row feature">
			<div class="col-md-7">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2430.316219206395!2d13.425799999999999!3d52.473409999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84f9652b00b77%3A0x7c2570fb1fd0cd95!2sLeinestra%C3%9Fe+8!5e0!3m2!1sen!2s!4v1398532026847" width="600" height="400" frameborder="0" style="border:0"></iframe>
			</div><!-- .col-md-7 -->
			<div class="col-md-5">
				<p> Medusa Clothing HQ: Leinestr. 8 12049 Berlin </p>
				



			</div><!-- .col-md-5 -->
		</div><!-- .row .feature -->
	</div>

  <hr>

  <div class="container">

<form action="#" method="post" id="contact-form">
  <h2>Form</h2>
  <p>If you have any questions or comments, contact us using the form below.</p>
  <p><label for="name">Name:</label><input type="text" name="name" id="name" placeholder="Full Name" required autofocus></p>
  <p><label for="email">Email:</label><input type="email" name="email" id="email" placeholder="email@example.com" required></p>
  <p><label for="website">Website:</label><input type="url" name="website" id="website" placeholder="www.example.com"></p>
  <p>
    <label for="category">Category:</label>
   <input type="radio" name="category" value="General" checked> General
<input type="radio" name="category" value="Sale"> Sale
<input type="radio" name="category" value="Shipment"> Shipment
  </p>

  <p>
    <label for="comment">Comment:</label>
    <textarea name="comment" id="comment" placeholder="Send us your comments"></textarea>
  </p>
    <p><label for="category">How did you hear about Medusa:</label>
   <input type="checkbox" name="category" value="Friend" checked> Friend
<input type="checkbox" name="category" value="Facebook"> Facebook
<input type="checkbox" name="category" value="Other"> Other
  </p>
  <p><input type="submit" value="Submit" class="btn btn-success"></p>
</form>
				
</div>
