<div class="container">
<h1>Welcome</h1>
<hr>
  <div id="owl-demo" class="owl-carousel owl-theme">
  <div> <img src="http://localhost:3000/images/medusa01.jpg" alt=""></div>
  <div> <img src="http://localhost:3000/images/medusa02.jpg" alt=""></div>
  <div> <img src="http://localhost:3000/images/medusa03.jpg" alt=""></div>
  </div>

  <div class="container">
        <p><button type="button" class="btn btn-default btn-lg">Shop the collection now!</button></p>
      </div><!-- .container -->

   <script>


                    $(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
 
});
        </script>

<hr>
<div class="row feature">
      <div class="col-md-7">
        <em><h2>Medusa Clothing <small>is the new kid in the Berlin Vintage Scene, collecting rare gems from the 80's, the 90's and beyond. Discover unique pieces in prices that can't be beat and don't forget to find us on <a href="https://www.facebook.com/medusafashion/">Facebook!</a> </small> </h2></em>
  

      </div><!-- .col-md-7 -->
      <div class="col-md-5">
        <img src="http://localhost:3000/images/medusa1.jpg" alt="Feature description">
      </div><!-- .col-md-5 -->
    </div><!-- .row .feature -->  
<hr>

<% feat_prod = Product.find(1) %>

<%= render 'pages/featured_product' %>   

</div>

