<div class="container"> 
<h2> Contact Form Output </h2>
  <table>
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= params[:name] %></td>
  </tr>
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= params[:email] %></td>
  </tr>
  <tr>
    <th><strong>Website:</strong></th>
    <td><%= params[:website] %></td>
  </tr>
  <tr>
    <th><strong>Comment:</strong></th>
    <td><%= params[:comment] %></td>
  </tr>
</table>
  
</div>
