<div class="container">

<h2>All reviews</h2>
 
<%= link_to 'New review', new_review_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
  </tr>
 
<% cache(cache_key_for_reviews) do %> 
<% @reviews.each do |review| %>
  <% cache(review) do %>
  <tr>
    <td><%= review.name %></td>
    <td><%= review.text %></td>
  </tr>
<% end %>
<% end %>
<% end %>
</table>

</div>